@import "palette";
// --------------------- MDC THEME ---------------------*/
$mdc-theme-primary: palette(primary6);
$mdc-theme-secondary: palette(primary5);
$mdc-theme-background: palette(neutral1);
$mdc-theme-accent: palette(accent14);

$v-header-background: #263138;
$v-header-color: #839098;


//$mdc-theme-primary: #6200ee !default; // baseline purple, 500 tone
//$mdc-theme-on-primary: if(mdc-theme-contrast-tone($mdc-theme-primary) == "dark", #000, #fff) !default;
//
//// The $mdc-theme-accent variable is DEPRECATED - it exists purely for backward compatibility.
//// The $mdc-theme-secondary* variables should be used for all new projects.
//$mdc-theme-accent: #018786 !default; // baseline teal, 600 tone
//$mdc-theme-secondary: $mdc-theme-accent !default;
//$mdc-theme-on-secondary: if(mdc-theme-contrast-tone($mdc-theme-secondary) == "dark", #000, #fff) !default;
//$mdc-theme-background: #fff !default; // White
//
//$mdc-theme-surface: #fff !default;
//$mdc-theme-on-surface: if(mdc-theme-contrast-tone($mdc-theme-surface) == "dark", #000, #fff) !default;
//
//$mdc-theme-error: #b00020 !default;
//$mdc-theme-on-error: if(mdc-theme-contrast-tone($mdc-theme-error) == "dark", #000, #fff) !default;
//
////                     @import "palette";
//// Text colors according to light vs dark and text type.
////
//
//$mdc-theme-text-colors: (
//  dark: (
//    primary: rgba(black, .87),
//    secondary: rgba(black, .54),
//    hint: rgba(black, .38),
//    disabled: rgba(black, .38),
//    icon: rgba(black, .38)
//  ),
//  light: (
//    primary: white,
//    secondary: rgba(white, .7),
//    hint: rgba(white, .5),
//    disabled: rgba(white, .5),
//    icon: rgba(white, .5)
//  )
//) !default;
//
//$mdc-theme-text-emphasis: (
//  high: .87,
//  medium: .6,
//  disabled: .38,
//);

// --------------------- BUTTON ---------------------*/
//$mdc-button-height: 36px !default;
//$mdc-button-horizontal-padding: 8px !default;
//$mdc-button-contained-horizontal-padding: 16px !default;
//$mdc-dense-button-height: 32px !default;
//$mdc-button-disabled-ink-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;


// --------------------- DRAWER ---------------------*/
$mdc-drawer-title-ink-color: palette(neutral10); // mdc-theme-prop-value(on-surface) !default;
$mdc-drawer-subtitle-ink-color: palette(neutral10);
$mdc-drawer-item-inactive-ink-color: palette(neutral7);
$mdc-drawer-item-activated-ink-color: palette(primary6);
//$mdc-drawer-divider-color: mdc-theme-prop-value(on-surface) !default;
//$mdc-drawer-surface-fill-color: mdc-theme-prop-value(surface) !default;
//$mdc-drawer-title-ink-opacity: mdc-theme-text-emphasis(high) !default;
//$mdc-drawer-subtitle-ink-opacity: mdc-theme-text-emphasis(medium) !default;
//$mdc-drawer-item-inactive-icon-ink-opacity: mdc-theme-text-emphasis(medium) !default;
//$mdc-drawer-item-inactive-text-ink-opacity: mdc-theme-text-emphasis(high) !default;
//$mdc-drawer-item-active-icon-ink-opacity: 1 !default;
//$mdc-drawer-item-active-text-ink-opacity: mdc-theme-text-emphasis(high) !default;
//$mdc-drawer-divider-opacity: .12 !default;
$mdc-drawer-width: 216px;
//$mdc-drawer-list-item-spacing: 4px !default;
//$mdc-drawer-surface-padding: 16px !default;
//$mdc-drawer-animation-enter: 250ms !default;
//$mdc-drawer-animation-exit: 200ms !default;
//$mdc-drawer-modal-scrim-color: mdc-theme-prop-value(on-surface) !default;
//$mdc-drawer-modal-scrim-opacity: .32 !default;
//$mdc-drawer-z-index: 6 !default;
//$mdc-drawer-modal-elevation: 16 !default;

// --------------------- CARD  ---------------------*/
//$mdc-card-outline-color: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 12%) !default;
//$mdc-card-outline-width: 1px !default;


// --------------------- CHECKBOX  ---------------------*/
//$mdc-checkbox-mark-color: mdc-theme-prop-value(on-primary) !default;
//$mdc-checkbox-border-color: rgba(mdc-theme-prop-value(on-surface), .54) !default;
//$mdc-checkbox-disabled-color: rgba(mdc-theme-prop-value(on-surface), .26) !default;
$mdc-checkbox-baseline-theme-color: palette(accent7) !default;
//
//$mdc-checkbox-touch-area: 40px !default;
//$mdc-checkbox-size: 18px !default;
//$mdc-checkbox-ui-pct: percentage($mdc-checkbox-size / $mdc-checkbox-touch-area) !default;
//$mdc-checkbox-mark-stroke-size: 2/15 * $mdc-checkbox-size !default;
//$mdc-checkbox-border-width: 2px !default;
//$mdc-checkbox-transition-duration: 90ms !default;
//$mdc-checkbox-item-spacing: 4px !default;
//$mdc-checkbox-focus-indicator-opacity: map-get($mdc-ripple-dark-ink-opacities, focus) !default;
//$mdc-checkbox-mark-path-length_: 29.7833385 !default;
//$mdc-checkbox-indeterminate-checked-easing-function_: cubic-bezier(.14, 0, 0, 1) !default;

// --------------------- CHIP  ---------------------*/
//$mdc-chip-fill-color-default: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 12%) !default;
//$mdc-chip-ink-color-default: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//$mdc-chip-horizontal-padding: 12px !default;
//$mdc-chip-vertical-padding: 7px !default;
//$mdc-chip-height-default: 32px !default;
//$mdc-chip-icon-color: mdc-theme-prop-value(on-surface) !default;
//$mdc-chip-icon-opacity: .54 !default;
//$mdc-chip-trailing-icon-hover-opacity: .62 !default;
//$mdc-chip-trailing-icon-focus-opacity: .87 !default;
//$mdc-chip-leading-icon-size: 20px !default;
//$mdc-chip-trailing-icon-size: 18px !default;
//$mdc-chip-leading-icon-delay: -50ms !default; // Speed up delay to bridge gap between leading icon and checkmark transition.
//$mdc-chip-checkmark-with-leading-icon-delay: 80ms !default;
//$mdc-chip-checkmark-animation-delay: 50ms !default;
//$mdc-chip-checkmark-animation-duration: 150ms !default;
//$mdc-chip-width-animation-duration: 150ms !default;
//$mdc-chip-opacity-animation-duration: 75ms !default;
//$mdc-chip-leading-icon-margin-top: -4px !default;
//$mdc-chip-leading-icon-margin-right: 4px !default;
//$mdc-chip-leading-icon-margin-bottom: -4px !default;
//$mdc-chip-leading-icon-margin-left: -4px !default;
//$mdc-chip-trailing-icon-margin-top: 0 !default;
//$mdc-chip-trailing-icon-margin-right: -4px !default;
//$mdc-chip-trailing-icon-margin-bottom: 0 !default;
//$mdc-chip-trailing-icon-margin-left: 4px !default;
//$mdc-chip-exit-transition:
//  opacity 75ms $mdc-animation-standard-curve-timing-function,
//  width 150ms $mdc-animation-deceleration-curve-timing-function,
//  padding 100ms linear,
//  margin 100ms linear !default;

// --------------------- DIALOG  ---------------------*/
//$mdc-dialog-scrim-color: on-surface !default;
//$mdc-dialog-title-ink-color: on-surface !default;
//$mdc-dialog-content-ink-color: on-surface !default;
//$mdc-dialog-scroll-divider-color: on-surface !default;
//$mdc-dialog-scrim-opacity: .32 !default;
//$mdc-dialog-title-ink-opacity: .87 !default;
//$mdc-dialog-content-ink-opacity: .6 !default;
//$mdc-dialog-scroll-divider-opacity: .12 !default;
//$mdc-dialog-min-width: 280px !default;
//$mdc-dialog-max-width: 560px !default;
//$mdc-dialog-margin: 16px !default;
//$mdc-dialog-title-bottom-padding: 9px !default;
//$mdc-dialog-z-index: 7 !default;
$mdc-dialog-z-index: 14;


// --------------------- FAB  ---------------------*/
//$mdc-fab-extended-icon-padding: 12px !default;
//$mdc-fab-extended-label-padding: 20px !default;
//$mdc-fab-height: 56px !default;
//$mdc-fab-mini-height: 40px !default;
//$mdc-fab-extended-height: 48px !default;

// --------------------- ICON BUTTON  ---------------------*/
//$mdc-icon-button-size: 24px !default;

// --------------------- GRID  ---------------------*/
//$mdc-layout-grid-breakpoints: (
//  desktop: 840px,
//  tablet: 480px,
//  phone: 0px
//) !default;
//
//$mdc-layout-grid-columns: (
//  desktop: 12,
//  tablet: 8,
//  phone: 4
//) !default;
//
//$mdc-layout-grid-default-margin: (
//  desktop: 24px,
//  tablet: 16px,
//  phone: 16px
//) !default;
//
//$mdc-layout-grid-default-gutter: (
//  desktop: 24px,
//  tablet: 16px,
//  phone: 16px
//) !default;
//
//$mdc-layout-grid-column-width: (
//  desktop: 72px,
//  tablet: 72px,
//  phone: 72px
//) !default;
//
//$mdc-layout-grid-default-column-span: 4 !default;
//
//$mdc-layout-grid-max-width: null !default;


// --------------------- LIST  ---------------------*/
//$mdc-list-divider-color-on-light-bg: rgba(0, 0, 0, .12) !default;
//$mdc-list-divider-color-on-dark-bg: rgba(255, 255, 255, .2) !default;
//$mdc-list-side-padding: 16px !default;
//$mdc-list-text-offset: 72px !default;

// --------------------- MENU  ---------------------*/
//$mdc-menu-width-base: 56px !default;
//$mdc-menu-min-width: 2 * $mdc-menu-width-base !default;
//$mdc-menu-surface-fade-in-duration: .03s !default;
//$mdc-menu-surface-fade-out-duration: .075s !default;
//$mdc-menu-surface-scale-duration: .12s !default;
//$mdc-menu-surface-min-distance-from-edge: 32px !default;
//$mdc-menu-surface-z-index: 8 !default; // One above mdc-dialog

// --------------------- TEXT FIELD - NOTCHED OUTLINE  ---------------------*/
//$mdc-notched-outline-transition-duration: 150ms !default;
//// Keep this in sync with constants.numbers.MIN_LEADING_STROKE_EDGE_POSITION
//$mdc-notched-outline-min-leading-stroke-edge-position: 12px !default;
//// The gap between the stroke end and floating label
//// Keep this in sync with constants.numbers.NOTCH_GUTTER_SIZE
//$mdc-notched-outline-notch-gutter-size: 4px !default;
//$mdc-notched-outline-leading-width: 12px !default;
//$mdc-notched-outline-padding: 4px !default;
//// This variable keeps the before/after JS label centered in the notch when the font-size is changed.
//$mdc-notched-outline-label-adjust: 14% !default;

// --------------------- RADIO  ---------------------*/
//$mdc-radio-touch-area: 40px !default;
//$mdc-radio-ui-size: 20px !default;
//$mdc-radio-ui-pct: percentage($mdc-radio-ui-size / $mdc-radio-touch-area) !default;
//$mdc-radio-transition-duration: 120ms !default;
//$mdc-radio-ripple-opacity: .14 !default;
$mdc-radio-baseline-theme-color: palette(accent7) !default;
//$mdc-radio-unchecked-color: rgba(mdc-theme-prop-value(on-surface), .54) !default;
//$mdc-radio-circle-color: rgba(mdc-theme-prop-value(on-surface), .26) !default;


// --------------------- SELECT  ---------------------*/
//$mdc-select-arrow-padding: 52px !default;
//$mdc-select-label-padding: 16px !default;
//$mdc-select-height: 56px !default;
//$mdc-select-icon-padding: 48px !default;
//
//$mdc-select-ink-color: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//$mdc-select-dropdown-color: mdc-theme-prop-value(on-surface) !default;
//$mdc-select-icon-color: rgba(mdc-theme-prop-value(on-surface), .54) !default;
//$mdc-select-label-color: rgba(mdc-theme-prop-value(on-surface), .6) !default;
//$mdc-select-focused-label-color: rgba(mdc-theme-prop-value(primary), .87) !default;
//$mdc-select-bottom-line-idle-color: rgba(mdc-theme-prop-value(on-surface), .42) !default;
//$mdc-select-bottom-line-hover-color: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//$mdc-select-helper-text-color: rgba(mdc-theme-prop-value(on-surface), .6) !default;
//
//$mdc-select-fill-color: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 4%) !default;
//
//$mdc-select-outlined-idle-border: rgba(mdc-theme-prop-value(on-surface), .24) !default;
//$mdc-select-dropdown-opacity: .54 !default;
//
//// Disabled Styles
//$mdc-select-disabled-label-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;
//$mdc-select-disabled-icon-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;
//$mdc-select-disabled-ink-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;
//$mdc-select-disabled-fill-color: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 2%) !default;
//$mdc-select-disabled-dropdown-opacity: .37 !default;
//
//// should be .06 after mdc-select opacity is applied
//$mdc-select-outlined-disabled-border: rgba(mdc-theme-prop-value(on-surface), .16) !default;
//$mdc-select-outlined-hover-border: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//
//$mdc-select-label-position-y: 70% !default;
//$mdc-select-outline-label-offset: 16px !default;
//$mdc-select-outlined-label-position-y: 130% !default;
//$mdc-select-outlined-dense-label-position-y: 110% !default;
//$mdc-select-outlined-with-leading-icon-label-position-x: 32px !default;
//
//$mdc-select-dropdown-transition-duration: 150ms !default;
//
//// Error colors
//$mdc-select-error-color: error !default;

// --------------------- SLIDER  ---------------------*/
//$mdc-slider-baseline-rail-opacity: .26 !default;

// --------------------- SNACKBAR  ---------------------*/
//$mdc-snackbar-fill-color: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 80%) !default;
//$mdc-snackbar-label-ink-color: rgba(mdc-theme-prop-value(surface), mdc-theme-text-emphasis(high)) !default;
//$mdc-snackbar-action-ink-color: #bb86fc !default;
//$mdc-snackbar-dismiss-ink-color: rgba(mdc-theme-prop-value(surface), mdc-theme-text-emphasis(high)) !default;
//
//$mdc-snackbar-label-type-scale: body2 !default;
//$mdc-snackbar-dismiss-icon-size: 18px !default;
//$mdc-snackbar-min-width: 344px !default;
//$mdc-snackbar-max-width: 672px !default;
//$mdc-snackbar-mobile-breakpoint: 480px !default;
//$mdc-snackbar-viewport-margin-narrow: 8px !default;
//$mdc-snackbar-viewport-margin-wide: 24px !default;
//$mdc-snackbar-padding: 8px !default;
//
//$mdc-snackbar-elevation: 6 !default;
//$mdc-snackbar-shape-radius: small !default; // Key from $mdc-shape-category-values or CSS length value (e.g., 4px)
//$mdc-snackbar-z-index: 8 !default; // One above mdc-dialog
//
//// These variables need to be kept in sync with the values in constants.js.
//$mdc-snackbar-enter-duration: 150ms !default;
//$mdc-snackbar-exit-duration: 75ms !default;


// --------------------- SWITCH  ---------------------*/
//$mdc-switch-track-width: 32px !default;
//$mdc-switch-track-height: 14px !default;
//$mdc-switch-thumb-diameter: 20px !default;
//$mdc-switch-tap-target-size: 48px !default;
//
//// Amount the edge of the thumb should be offset from the edge of the track.
//$mdc-switch-thumb-offset: 4px !default;
//
//// Position for the tap target that contains the thumb to align the thumb correctly offset from the track.
//$mdc-switch-tap-target-initial-position:
//  -$mdc-switch-tap-target-size / 2 + $mdc-switch-thumb-diameter / 2 -
//  $mdc-switch-thumb-offset !default;
//
//// Value to cover the whole switch area (including the ripple) with the native control.
//$mdc-switch-native-control-width:
//  $mdc-switch-track-width +
//  ($mdc-switch-tap-target-size - $mdc-switch-thumb-diameter) +
//  $mdc-switch-thumb-offset * 2 !default;
//
//$mdc-switch-thumb-active-margin: $mdc-switch-track-width - $mdc-switch-thumb-diameter + $mdc-switch-thumb-offset * 2 !default;
//
//$mdc-switch-toggled-off-thumb-color: mdc-theme-prop-value(surface) !default;
//$mdc-switch-toggled-off-track-color: mdc-theme-prop-value(on-surface) !default;
//$mdc-switch-toggled-off-ripple-color: #9e9e9e !default;
//$mdc-switch-disabled-thumb-color: mdc-theme-prop-value(surface) !default;
//$mdc-switch-disabled-track-color: mdc-theme-prop-value(on-surface) !default;
//
$mdc-switch-baseline-theme-color: palette(accent7) !default;


// --------------------- TAB  ---------------------*/
//$mdc-tab-icon-size: 24px !default;
//$mdc-tab-height: 48px !default;
//$mdc-tab-stacked-height: 72px !default;
//$mdc-tab-text-label-opacity: .6 !default;
//$mdc-tab-icon-opacity: .54 !default;

// --------------------- TEXT FIELD  ---------------------*/
//$mdc-text-field-error: error !default;
//$mdc-text-field-fullwidth-bottom-line-color: rgba(mdc-theme-prop-value(on-surface), .12) !default;
//$mdc-text-field-disabled-border: rgba(mdc-theme-prop-value(on-surface), .06) !default;
//$mdc-text-field-disabled-icon: rgba(mdc-theme-prop-value(on-surface), .3) !default;
//$mdc-text-field-bottom-line-hover: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//$mdc-text-field-bottom-line-idle: rgba(mdc-theme-prop-value(on-surface), .42) !default;
//$mdc-text-field-label: rgba(mdc-theme-prop-value(on-surface), .6) !default;
//
//$mdc-text-field-ink-color: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//$mdc-text-field-helper-text-color: rgba(mdc-theme-prop-value(on-surface), .6) !default;
//$mdc-text-field-icon-color: rgba(mdc-theme-prop-value(on-surface), .54) !default;
//$mdc-text-field-focused-label-color: rgba(mdc-theme-prop-value(primary), .87) !default;
//
//$mdc-text-field-disabled-label-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;
//$mdc-text-field-disabled-ink-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;
//$mdc-text-field-disabled-helper-text-color: rgba(mdc-theme-prop-value(on-surface), .37) !default;
//
//$mdc-text-field-background: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 4%) !default;
//$mdc-text-field-disabled-background: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 2%) !default;
//$mdc-text-field-secondary-text: rgba(mdc-theme-prop-value(on-surface), .6) !default;
//
//$mdc-text-field-outlined-idle-border: rgba(mdc-theme-prop-value(on-surface), .24) !default;
//$mdc-text-field-outlined-disabled-border: rgba(mdc-theme-prop-value(on-surface), .06) !default;
//$mdc-text-field-outlined-hover-border: rgba(mdc-theme-prop-value(on-surface), .87) !default;
//
//$mdc-textarea-border: rgba(mdc-theme-prop-value(on-surface), .73) !default;
//$mdc-textarea-background: rgba(mdc-theme-prop-value(surface), 1) !default;
//$mdc-textarea-disabled-border-color: rgba(mdc-theme-prop-value(on-surface), .26) !default;
//// cannot be transparent because multiline textarea input
//// will make text unreadable
//$mdc-textarea-disabled-background: rgba(249, 249, 249, 1) !default;
//
//$mdc-text-field-height: 56px !default;
//$mdc-text-field-label-position-y: 50% !default;
//$mdc-text-field-label-offset: 16px !default;
//$mdc-text-field-dense-label-position-y: 70% !default;
//$mdc-text-field-dense-label-scale: .8 !default;
//$mdc-text-field-outlined-label-position-y: 130% !default;
//$mdc-text-field-outlined-dense-label-position-y: 120% !default;
//$mdc-text-field-outlined-with-leading-icon-label-position-x: 0 !default;
//$mdc-text-field-outlined-dense-with-leading-icon-label-position-x: 21px !default;
//$mdc-text-field-textarea-label-position-y: 130% !default;
//// Note that the scale factor is an eyeballed approximation of what's shown in the mocks.

// --------------------- TOOLBAR  ---------------------*/
//$mdc-toolbar-row-height: 64px !default;
//$mdc-toolbar-mobile-row-height: 56px !default;
//$mdc-toolbar-mobile-landscape-row-height: 48px !default;
//
//$mdc-toolbar-element-section-padding: 8px !default;
//$mdc-toolbar-element-mobile-section-padding: 4px !default;
//
//$mdc-toolbar-element-horizontal-padding-desktop: 24px !default;
//$mdc-toolbar-element-horizontal-padding-mobile: 16px !default;
//$mdc-toolbar-title-margin-to-menu-icon-desktop: 8px !default;
//$mdc-toolbar-title-margin-to-menu-icon-mobile: 16px !default;
//
//$mdc-toolbar-ratio-to-extend-flexible: 4 !default;
//
//$mdc-toolbar-mobile-landscape-width-breakpoint: 959px !default;
//$mdc-toolbar-mobile-breakpoint: 599px !default;
//
//$mdc-toolbar-icon-padding: 12px !default;
//$mdc-toolbar-section-horizontal-padding: 12px !default;
//$mdc-toolbar-mobile-section-horizontal-padding: 4px !default;
//
//$mdc-toolbar-icon-size: 24px !default;


// --------------------- TOP APP BAR  ---------------------*/
//$mdc-top-app-bar-row-height: 64px !default;
//$mdc-top-app-bar-title-left-padding: 20px !default;
//$mdc-top-app-bar-section-vertical-padding: 8px !default;
//$mdc-top-app-bar-section-horizontal-padding: 12px !default;
//
//$mdc-top-app-bar-icon-padding: 12px !default;
//$mdc-top-app-bar-icon-size: 24px !default;
//
//$mdc-top-app-bar-mobile-breakpoint: 599px !default;
//
//// Default mobile styles
//$mdc-top-app-bar-mobile-row-height: 56px !default;
//$mdc-top-app-bar-mobile-section-padding: 4px !default;
//
//// Short top app bar
//$mdc-top-app-bar-short-collapsed-border-radius: 4px !default;
//$mdc-top-app-bar-short-collapsed-width: 56px !default;
//$mdc-top-app-bar-short-collapsed-right-icon-padding: 12px !default;
//
//// Prominent styles
//$mdc-top-app-bar-prominent-row-height: 128px !default;
//$mdc-top-app-bar-prominent-title-bottom-padding: 2px !default;
//
//// Prominent mobile styles
//$mdc-top-app-bar-prominent-mobile-title-bottom-padding: 6px !default;
//
//// Dense styles
//$mdc-top-app-bar-dense-row-height: 48px !default;
//$mdc-top-app-bar-dense-section-horizontal-padding: 4px !default;
//$mdc-top-app-bar-dense-title-left-padding: 12px !default;
//
//// Dense & Prominent styles
//$mdc-top-app-bar-prominent-dense-title-bottom-padding: 9px !default;

// --------------------- TYPOGRAPHY  ---------------------*/
//$mdc-typography-font-family: Roboto, sans-serif !default;
//
//$mdc-typography-base: (
//  font-family: $mdc-typography-font-family,
//  -moz-osx-font-smoothing: grayscale,
//  -webkit-font-smoothing: antialiased,
//) !default;
//
//$mdc-typography-font-weight-values: (
//  thin: 100,
//  light: 300,
//  regular: 400,
//  medium: 500,
//  bold: 700,
//  black: 900
//) !default;
//
//$mdc-typography-styles: mdc-typography-set-styles_(
//  $mdc-typography-base,
//  (
//    headline1: (
//      font-size: 6rem, // 96sp
//      line-height: 6rem,
//      font-weight: map-get($mdc-typography-font-weight-values, light),
//      letter-spacing: mdc-typography-get-letter-spacing_(-1.5, 6),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    headline2: (
//      font-size: 3.75rem, // 60sp
//      line-height: 3.75rem,
//      font-weight: map-get($mdc-typography-font-weight-values, light),
//      letter-spacing: mdc-typography-get-letter-spacing_(-.5, 3.75),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    headline3: (
//      font-size: 3rem, // 48px
//      line-height: 3.125rem, // 50px
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: normal,
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    headline4: (
//      font-size: 2.125rem, // 34sp
//      line-height: 2.5rem, // 40sp
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: mdc-typography-get-letter-spacing_(.25, 2.125),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    headline5: (
//      font-size: 1.5rem, // 24sp
//      line-height: 2rem, // 32sp
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: normal,
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    headline6: (
//      font-size: 1.25rem, // 20sp
//      line-height: 2rem, // 32sp
//      font-weight: map-get($mdc-typography-font-weight-values, medium),
//      letter-spacing: mdc-typography-get-letter-spacing_(.25, 1.25),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    subtitle1: (
//      font-size: 1rem, // 16sp
//      line-height: 1.75rem, // 28sp
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: mdc-typography-get-letter-spacing_(.15, 1),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    subtitle2: (
//      font-size: .875rem, // 14sp
//      line-height: 1.375rem, // 22sp
//      font-weight: map-get($mdc-typography-font-weight-values, medium),
//      letter-spacing: mdc-typography-get-letter-spacing_(.1, .875),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    body1: (
//      font-size: 1rem, // 16sp
//      line-height: 1.5rem, // 24sp
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: mdc-typography-get-letter-spacing_(.5, 1),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    body2: (
//      font-size: .875rem, // 14sp
//      line-height: 1.25rem, // 20sp
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: mdc-typography-get-letter-spacing_(.25, .875),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    caption: (
//      font-size: .75rem, // 12sp
//      line-height: 1.25rem, // 20sp
//      font-weight: map-get($mdc-typography-font-weight-values, regular),
//      letter-spacing: mdc-typography-get-letter-spacing_(.4, .75),
//      text-decoration: inherit,
//      text-transform: inherit
//    ),
//    button: (
//      font-size: .875rem, // 14sp
//      line-height: 2.25rem, // 36sp
//      font-weight: map-get($mdc-typography-font-weight-values, medium),
//      letter-spacing: mdc-typography-get-letter-spacing_(1.25, .875),
//      text-decoration: none,
//      text-transform: uppercase
//    ),
//    overline: (
//      font-size: .75rem, // 12sp
//      line-height: 2rem, // 32sp
//      font-weight: map-get($mdc-typography-font-weight-values, medium),
//      letter-spacing: mdc-typography-get-letter-spacing_(2, .75),
//      text-decoration: none,
//      text-transform: uppercase
//    ),
//  )
//) !default;
