// THIS FILE IS GENERATED - TO EDIT modify platte.json and run ./build_theme
$palette-colors: (
    primary1: #DCEEFB,
    primary2: #B6E0FE,
    primary3: #84C5F4,
    primary4: #62B0E8,
    primary5: #5A87C5,
    primary6: #2680C2,
    primary7: #1D63E6,
    primary8: #0F609B,
    primary9: #0A558C,
    primary10: #003E6B,
    accent1: #F0FCF9,
    accent2: #C6F7E9,
    accent3: #8EEDD1,
    accent4: #5FE3C0,
    accent5: #2DCCA7,
    accent6: #17B897,
    accent7: #079A82,
    accent8: #048271,
    accent9: #016457,
    accent10: #004440,
    neutral1: #F0F4F8,
    neutral2: #D9E2EC,
    neutral3: #BCCCDC,
    neutral4: #9FB3C8,
    neutral5: #829AB1,
    neutral6: #627D98,
    neutral7: #486581,
    neutral8: #334E68,
    neutral9: #243B53,
    neutral10: #102A43,
    red1: #FFEEEE,
    red2: #FACDCD,
    red3: #F29B9B,
    red4: #E66A6A,
    red5: #D64545,
    red6: #BA2525,
    red7: #A61B1B,
    red8: #911111,
    red9: #780A0A,
    red10: #610404,
    yellow1: #FFFAEB,
    yellow2: #FCEFC7,
    yellow3: #F8E3A3,
    yellow4: #F9DA8B,
    yellow5: #F7D070,
    yellow6: #E9B949,
    yellow7: #C99A2E,
    yellow8: #A27C1A,
    yellow9: #7C5E10,
    yellow10: #513C06,
    green1: #F0FCF9,
    green2: #C6F7E9,
    green3: #8EEDD1,
    green4: #5FE3C0,
    green5: #2DCCA7,
    green6: #17B897,
    green7: #079A82,
    green8: #048271,
    green9: #016457,
    green10: #004440,
);
@function palette($color) {
  @return map-get($palette-colors, $color);
}
@each $name, $color in $palette-colors {
  .v-color__#{$name} {
    color: $color !important;
  }
  .v-background-color__#{$name} {
    background-color: $color !important;
  }
}
