@import "palette";

// Font size variables for size and naming
// consistency with default Material sizes
// See @material/typography
$mdc-headline1-font-size: 6rem;      // 96sp
$mdc-headline2-font-size: 3.75rem;   // 60sp
$mdc-headline3-font-size: 3rem;      // 48px
$mdc-headline4-font-size: 2.125rem;  // 34sp
$mdc-headline5-font-size: 1.5rem;    // 24sp
$mdc-headline6-font-size: 1.25rem;   // 20sp
$mdc-subtitle1-font-size: 1rem;      // 16sp
$mdc-subtitle2-font-size: .875rem;   // 14sp
$mdc-body1-font-size:     1rem;      // 16sp
$mdc-body2-font-size:     .875rem;   // 14sp
$mdc-caption-font-size:   .75rem;    // 12sp
$mdc-button-font-size:    .875rem;   // 14sp
$mdc-overline-font-size:  .75rem;    // 12sp

.mdc-typography--headline6 {
  color: palette(neutral9);
}

.mdc-typography--subtitle1 {
  color: palette(neutral5);
}

$v-theme-error-message: palette(red9);

$v-header-background: palette(primary10);
$v-title-background: palette(primary2);
$v-title-color: palette(primary10);

h1.v-page-title {
  background-color: $v-title-background;
  color: $v-title-color;
  margin: 0px;
  padding: 18px;
  font-size: $mdc-headline6-font-size;
  font-weight: 500;
  i {
    font-size: $mdc-headline6-font-size;
    vertical-align: middle;
  }
}

.v-page-content {
  background-color: $mdc-theme-background;
}

#cart_menu {
  position: relative;
  .mdl-badge {
    position: absolute;
    left: 30px;
    top: 8px;
    z-index: 9;
  }
  .v-menu-click {
    font-size: 35px;
    width: 50px;
    height: 50px;
    .material-icons {
      transform: translate(-19px, -19px);
      font-size: 38px;
      line-height: 38px;
      width: 38px;
    }
  }
}

body {
  background-color: palette(neutral1);
}

a {
  color: palette(accent5);
}
